[Unit]
Description=RPI HLS Stream Service
Requires=docker.service
After=docker.service

[Service]
User=kluce
WorkingDirectory=/home/kluce/bin/rpi-hls-docker
ExecStart=/home/kluce/bin/rpi-hls-docker/build-and-start.sh
ExecStop=/usr/bin/docker compose down
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
